<h4><%= title %></h4>

<form class="form-horizontal" id="new-outstanding-<%= @issue.id %>">
  <fieldset>

    <input name="_method" type="hidden" value="<%=action_method%>" />
    <% if action_method == "PATCH" %>
      <input name="task_id" type="hidden" value="<%= @outstanding.id %>" />
    <% end %>

    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
    <input name="outstanding[issue_id]" value="<%= @issue.id %>" type="hidden" />
    <input name="outstanding[retro_id]" value="<%= @retro.id %>" type="hidden" />

    <!-- Select Multiple -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="assigned_to">assigned to</label>
      <div class="col-md-8">
        <select multiple id="assigned_to" name="assigned_to[]" class="form-control">
          <% User.all.each do |user| %>
              <option
              <% if @outstanding.users.include? (user) %>
              selected="selected"
              <% end %>
              value="<%= user.id %>"><%= user.name %></option>
          <% end %>
          <option
          <% if @outstanding.users.equal? (User.all) %>
          selected="selected"
          <% end %>
          value="-1">all</option>
        </select>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">'
      <label class="col-md-4 control-label" for="textinput">Description</label>
      <div class="col-md-8">
        <input id="description" name="outstanding[description]" type="text" autofocus="true" placeholder="Description"
               class="form-control input-md" required="" value="<%= @outstanding.description %>">
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button class="btn btn-primary" onclick="makeTask($('#new-outstanding-<%= @issue.id %>'))">
          <%= button_title %>
        </button>
      </div>
    </div>

  </fieldset>
</form>