<h1><%= title %></h1>
<form class="form-horizontal" id="new_issue_<%= @issue.issue_type %>">
  <fieldset>

    <input name="_method" type="hidden" value="<%=action_method%>"/>
    <% if action_method == "PATCH" %>
        <input name="issue_id" type="hidden" value="<%=@issue.id%>" />
    <% end %>

    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
    <input name="issue[retro_id]" value="<%= @retro.id %>" type="hidden" />

    <!-- Select Multiple -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="issue_type">Type</label>
      <div class="col-md-8">
        <select id="issue_type" name="issue[issue_type]" class="form-control">
          <% for type in ["Good","Meh","Bad"] %>
              <option
              <% if @issue.issue_type == type %>
              selected="selected"
              <% end %>
              value="<%= type %>"><%= type %></option>
          <% end %>
        </select>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Description</label>
      <div class="col-md-8">
        <input id="description" name="issue[description]" type="text" autofocus="true" placeholder="Description" class="form-control input-md" required="" value="<%= @issue.description %>">
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button class="btn btn-primary" onclick="makeIssue($('#new_issue_<%= @issue.issue_type %>'))">
          <%= button_title %>
        </button>
      </div>
    </div>

  </fieldset>
</form>
