<li id="issue-<%=index%>-<%=type%>" class="data <% if issue %><%= issue_class %><% end %>">
    <% if !issue.nil? %>

      <% if issue.creator_id.nil? %>
        Unknown
      <% else %>
        <%= link_to user(issue.creator_id).name, user_path(issue.creator_id) %>
      <% end %>
      <% if (@retro.status == "in_review" || @retro.status == "voted_review") &&
              (@retro.discussed_index == index) && (@retro.discussed_type == type)%>
        <b id='discussed'><span id="discuss-<%=index%>-<%=type%>"><%= issue.description %></span></b>
      <% else %>
          <span id="discuss-<%=index%>-<%=type%>"><%= issue.description %></span>
      <% end %>


      <a onclick="deleteIssue(<%= issue.id %>, 'issue-<%=index%>-<%=type%>')" style="float: right;" >
        <span class="glyphicon glyphicon-trash"></span>
      </a>
      <a href="<%= edit_issue_path(issue) %>" style="float: right;" data-remote="true"><span class="glyphicon glyphicon-pencil"></span></a>
      <% if @retro.status == "voted_review" || @retro.status =="complete" %>
        <div align="right">votes: <%= issue.votes_count %></div>
      <% end %>
      <% if @retro.status == "voted_review" %>
          <%= link_to 'New Task', new_issue_outstanding_path(issue_id: issue.id), remote: true %>
          <div id="task-form-<%=issue.id %>" style="display:none;"></div>
      <% end %>
      <% if @retro.status == "voting" %>
          <form>
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
            <button id="submit" name="submit" class="btn btn-default" onclick="addVote(<%=issue.id%>)">
              <span id="votecount-<%=issue.id%>"><%= issue.votes_count %></span>
            </button>
          </form>
      <% end %>
      <div id="edit-<%=issue.id %>" style="display:none;"></div>

    <% else %>
        &nbsp;
    <% end %>
</li>
