<td class="col-xs-4 col-md-4 <% if issue %><%= issue_class %><% end %>">
    <% if !issue.nil? %>
      <% if issue.creator_id.nil? %>
        Unknown
      <% else %>
        <%= link_to user(issue.creator_id).name, user_path(issue.creator_id) %>
      <% end %>
      <%= issue.description %>

      <a href="<%= issue_path(issue) %>" style="float: right;" data-method="DELETE" data-confirm="Are you sure?" rel="nofollow">
        <span class="glyphicon glyphicon-trash"></span>
      </a>

      <a href="<%= edit_issue_path(issue) %>" style="float: right;"><span class="glyphicon glyphicon-pencil"></span></a>
      <% if @retro.status == "voted_review" || @retro.status =="complete" %>
        <div align="right">votes: <%= issue.votes_count %></div>
      <% end %>
      <% if @retro.status == "voting" %>
          <form method="post" action="<%= make_new_vote_path(issue_id: issue.id) %>">
            <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
            <button id="submit" name="submit" class="btn btn-default">
              <%= issue.votes_count %>
            </button>
          </form>
      <% end %>
    <% else %>
        &nbsp;
    <% end %>
</td>
