<h4>
<form method="post" action="<%= transition_retro_status_path(:id=>@retro.id, :status => next_status) %>">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
  <button id="submit" name="submit" class="btn btn-primary">
    <%= status_title %>
  </button>
  <%= @project.name %> - <%= @retro.meeting_date %></h4>
</form>
<% if @retro.status == "voting" %>
    <p>Number of votes: <%= current_user.votes.where(retro_id: @retro.id).count %></p>
    <form method="get" action="<%= clear_user_votes_path(@retro.id) %>">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
      <button id="clear_votes" name="clear_votes" class="btn btn-default">
        clear votes
      </button>
    </form>
<% end %>
<table class="table">
  <thead>
      <th class="col-md-4 retro-header retro-good">
        <% if @retro.status == "adding_issues" %>
            <a href="<%= new_retro_issue_path(@retro) %>?type=Good"><span class="glyphicon glyphicon-plus"></span></a>
            <% end %>
        The good
        <%= image_tag("#{@retro.good_icon}.png", :size=>"100x100", :align=>"right") %>
      </th>
      <th class="col-md-4 retro-header retro-meh">
        <% if @retro.status == "adding_issues" %>
            <a href="<%= new_retro_issue_path(@retro) %>?type=Meh">
            <span class="glyphicon glyphicon-plus"></span></a>
        <% end %>
        The meh
        <%= image_tag("#{@retro.meh_icon}.png", :size=>"100x100", :align=>"right") %>
      </th>
      <th class="col-md-4 retro-header retro-bad">
        <% if @retro.status == "adding_issues" %>
            <a href="<%= new_retro_issue_path(@retro) %>?type=Bad">
            <span class="glyphicon glyphicon-plus"></span></a>
        <% end %>
        The ugly
        <%= image_tag("#{@retro.bad_icon}.png", :size=>"100x100", :align=>"right") %>
      </th>
  </thead>
  <tbody>
    <% if @retro.status == "voted_review" || @retro.status == "complete" %>
      <% @good_issues = @good_issues.order('votes_count DESC') %>
      <% @meh_issues = @meh_issues.order('votes_count DESC') %>
      <% @bad_issues = @bad_issues.order('votes_count DESC') %>
    <% end %>

    <% if @retro.status == "in_review" || @retro.status == "voted_review" %>
        <% @issues = [@good_issues, @meh_issues, @bad_issues] %>
    <% end %>
    <% for index in 0..@max_issues-1 %>
      <tr>
        <%= render partial: "issues/issuetemplate", locals: { issue: @good_issues[index], issue_class: 'retro-good' } %>
        <%= render partial: "issues/issuetemplate", locals: { issue: @meh_issues[index], issue_class: 'retro-meh' } %>
        <%= render partial: "issues/issuetemplate", locals: { issue: @bad_issues[index], issue_class: 'retro-bad' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @retro.status == "in_review" %>
    <form method="post" action="<%= increment_discussed_review_path(:id=>@retro.id) %>">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
      <body onload="startTimer(30, document.querySelector('#time'))"/>
      <button id="next_issue" name="next_issue" class="btn btn-default">
        <div><span id="time">00:30 seconds remaining, </span>click to proceed to next topic</div>
      </button>
    </form>
<% end %>
<% if @retro.status == "voted_review" %>
    <form method="post" action="<%= increment_discussed_followup_path(:id=>@retro.id) %>">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
      <button id="next_issue" name="next_issue" class="btn btn-default">
        <div>click to proceed to next topic</div>
      </button>
    </form>
<% end %>

<br>

<% if @retro.status == "voted_review" || @retro.status == "complete" %>
    <%= render partial: "outstandings/tasks", locals: {
                                                    tasks: Outstanding.where("retro_id = #{@retro.id}"),
                                                    title: "Tasks for Next Week",
                                                    user_page: false }%>
<% end %>

<% if @retro.status == "adding_issues" %>
    <%= link_to 'New Issue', new_retro_issue_path(@retro) %> |
<% end %>
<%= link_to 'All Retros', project_retros_path(@project) %>