<h4>
<form method="post" action="<%= transition_retro_status_path(:id=>@retro.id, :status => next_status) %>">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
  <button id="submit" name="submit" class="btn btn-primary">
    <%= status_title %>
  </button>
  <%= @project.name %> - <%= @retro.meeting_date %></h4>
</form>

<% if @retro.status == "voting" %>
    <p>Number of votes: <%= current_user.votes.count() %></p>
    <form method="delete" action="<% Vote.where(user_id: current_user.id).destroy_all %>">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
      <button id="submit" name="submit" class="btn btn-default">
        clear votes
      </button>
    </form>
<% end %>

<table class="table">
  <thead>
      <th class="col-md-4 retro-header retro-good">
        <% if @retro.status == "adding_issues" %>
            <a href="<%= new_retro_issue_path(@retro) %>?type=Good"><span class="glyphicon glyphicon-plus"></span></a>
            <% end %>
        The good
      </th>
      <th class="col-md-4 retro-header retro-meh">
        <% if @retro.status == "adding_issues" %>
            <a href="<%= new_retro_issue_path(@retro) %>?type=Meh">
            <span class="glyphicon glyphicon-plus"></span></a>
        <% end %>
        The meh
      </th>
      <th class="col-md-4 retro-header retro-bad">
        <% if @retro.status == "adding_issues" %>
            <a href="<%= new_retro_issue_path(@retro) %>?type=Bad">
            <span class="glyphicon glyphicon-plus"></span></a>
            <% end %>
        The ugly
      </th>
  </thead>

  <tbody>
    <% for index in 0..@max_issues-1 %>
      <tr>
        <%= render partial: "issues/issuetemplate", locals: { issue: @good_issues[index], issue_class: 'retro-good' } %>
        <%= render partial: "issues/issuetemplate", locals: { issue: @meh_issues[index], issue_class: 'retro-meh' } %>
        <%= render partial: "issues/issuetemplate", locals: { issue: @bad_issues[index], issue_class: 'retro-bad' } %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if @retro.status == "adding_issues" %>
    <%= link_to 'New Issue', new_retro_issue_path(@retro) %> |
<% end %>
<%= link_to 'All Retros', project_retros_path(@project) %>