<h4>
<form method="post" action="<%= transition_retro_status_path(:id=>@retro.id, :status => next_status) %>">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
  <button id="submit" name="submit" class="btn btn-primary">
    <%= status_title %>
  </button>
  <%= @project.name %> - <%= @retro.meeting_date %></h4>
</form>
<% if @retro.status == "voting" %>
    <p>Number of votes: <span id="votecount-primary"><%= current_user.votes.where(retro_id: @retro.id).count %></span></p>
    <form>
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
      <button id="clear_votes" onclick="clearVotes(<%=@retro.id%>)" class="btn btn-default">
        clear votes
      </button>
    </form>
<% end %>

<% if @retro.status == "voted_review" || @retro.status == "complete" %>
    <% @good_issues = @good_issues.order('votes_count DESC') %>
    <% @meh_issues = @meh_issues.order('votes_count DESC') %>
    <% @bad_issues = @bad_issues.order('votes_count DESC') %>
<% end %>

<div class="column">
  <ul class="list" id="Good_issues">
    <li class="title retro-header retro-Good">
      <% if @retro.status == "adding_issues" || @retro.status == "in_review" %>
          <a data-remote="true" href="<%= new_retro_issue_path(@retro) %>?type=Good">
            <span  class="glyphicon glyphicon-plus"></span>
          </a>
      <% end %>
      The good<%= image_tag("#{@retro.good_icon}.png", :size=>"100x100", :align=>"right") %>
    </li>
    <% for index in 0..@good_issues.size-1 %>
      <%= render partial: "issues/issuetemplate", locals: { issue: @good_issues[index],
                                                            issue_class: 'retro-Good',
                                                            index: index,
                                                            type: 0 } %>
    <% end %>
    <% if @retro.status == "adding_issues" || @retro.status == "in_review" %>
        <li class="data retro-Good" id="Good_adder">
          <div id="add-issue-Good" style="display:none;"></div>
        </li>
    <% end %>
  </ul>
</div>

<div class="column">
  <ul class="list" id="Meh_issues">
    <li class="title retro-header retro-Meh">
        <% if @retro.status == "adding_issues" || @retro.status == "in_review" %>
          <a data-remote="true" href="<%= new_retro_issue_path(@retro) %>?type=Meh">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
      <% end %>
      The meh
      <%= image_tag("#{@retro.meh_icon}.png", :size=>"100x100", :align=>"right") %>
    </li>
    <% for index in 0..@meh_issues.size-1 %>
        <%= render partial: "issues/issuetemplate", locals: { issue: @meh_issues[index],
                                                              issue_class: 'retro-Meh',
                                                              index: index,
                                                              type: 1 } %>
    <% end %>
    <% if @retro.status == "adding_issues" || @retro.status == "in_review" %>
        <li class="data retro-Meh" id="Meh_adder">
          <div id="add-issue-Meh" style="display:none;"></div>
        </li>
    <% end %>
  </ul>
</div>

<div class="column">
  <ul class="list" id="Bad_issues">
    <li class="title retro-header retro-Bad">
      <% if @retro.status == "adding_issues" || @retro.status == "in_review" %>
          <a data-remote="true" href="<%= new_retro_issue_path(@retro) %>?type=Bad">
            <span class="glyphicon glyphicon-plus"></span>
          </a>
      <% end %>
      The ugly
      <%= image_tag("#{@retro.bad_icon}.png", :size=>"100x100", :align=>"right") %>
    </li>
    <% for index in 0..@bad_issues.size-1 %>
        <%= render partial: "issues/issuetemplate", locals: { issue: @bad_issues[index],
                                                              issue_class: 'retro-Bad',
                                                              index: index,
                                                              type: 2 } %>
    <% end %>
    <% if @retro.status == "adding_issues" || @retro.status == "in_review" %>
        <li class="data retro-Bad" id="Bad_adder">
          <div id="add-issue-Bad" style="display:none;"></div>
        </li>
    <% end %>
  </ul>
</div>

<% if @retro.status == "in_review" %>
    <form id="timer">
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
      <body onload="startTimer(30, document.querySelector('#time'))"/>
      <button id="next_issue" name="next_issue" class="btn btn-default" onclick="nextReview(<%=@retro.id%>, document.querySelector('#time'))">
        <div><span id="time">00:30 seconds remaining, </span>click to proceed to next topic</div>
      </button>
    </form>
<% end %>
<% if @retro.status == "voted_review" %>
    <form>
      <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
      <button id="next_issue" name="next_issue" class="btn btn-default" onclick="nextVotedReview(<%=@retro.id%>)">
        <div>click to proceed to next topic</div>
      </button>
    </form>
<% end %>

<br>
<% if @retro.status == "review_last_retro" %>
    <% @all_retros = Retro.where("project_id = #{@retro.project_id}").order('meeting_date ASC') %>
    <% @current_index = @all_retros.index @retro %>
    <% @current_index -= 1 %>
    <% if !@all_retros[@current_index].nil? %>
        <%= render partial: "outstandings/tasks", locals: {
                                                        tasks: Outstanding.where("retro_id = #{@all_retros[@current_index].id}"),
                                                        title: "Tasks from Last Week",
                                                        user_page: false }%>
    <% end %>
<% end %>

<% if @retro.status == "voted_review" || @retro.status == "complete" %>
    <% @all_retros = Retro.where("project_id = #{@retro.project_id}").order('meeting_date DESC') %>
    <% @current_index = @all_retros.index @retro %>
    <% @current_index -= 1 %>
    <% if !@all_retros[@current_index].nil? %>
        <%= render partial: "outstandings/tasks", locals: {
                                                    tasks: Outstanding.where("retro_id = #{@retro.id} OR
                                                                              (retro_id = #{@all_retros[@current_index].id} AND
                                                                              complete = 'f' )"),
                                                    title: "Tasks for Next Week",
                                                    user_page: false }%>
    <% else %>
        <%= render partial: "outstandings/tasks", locals: {
                                                        tasks: Outstanding.where("retro_id = #{@retro.id}"),
                                                        title: "Tasks for Next Week",
                                                        user_page: false }%>
    <% end %>
<% end %>

<% if @retro.status == "adding_issues" %>
    <%= link_to 'New Issue', new_retro_issue_path(@retro) %> |
<% end %>
<%= link_to 'All Retros', project_retros_path(@project) %>