<h1>Listing issues</h1>

<table>
  <thead>
    <tr>
      <th>The good</th>
      <th>The meh</th>
      <th>The ugly</th>
    </tr>
  </thead>

  <tbody>

    <% for index in 0..@max_issues %>
      <tr>
        <td>
          <% if @good_issues[index] %>
            [<%= @good_issues[index].member %>] <%= @good_issues[index].description %>
          <% end %>
        </td>
        <td>
          <% if @meh_issues[index] %>
              [<%= @meh_issues[index].member %>] <%= @meh_issues[index].description %>
          <% end %>
        </td>
        <td>
          <% if @bad_issues[index] %>
              [<%= @bad_issues[index].member %>] <%= @bad_issues[index].description %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_issue_path %>
