<h4><%= @project.name %> - <%= @retro.meeting_date %></h4>
<table class="table">
  <thead>
      <th class="col-md-4 retro-header retro-good">
        <a href="<%= new_retro_issue_path(@retro) %>?type=Good"><span class="glyphicon glyphicon-plus"></span></a>
        The good
      </th>
      <th class="col-md-4 retro-header retro-meh">
        <a href="<%= new_retro_issue_path(@retro) %>?type=Meh">
          <span class="glyphicon glyphicon-plus"></span></a>
        The meh
      </th>
      <th class="col-md-4 retro-header retro-bad">
        <a href="<%= new_retro_issue_path(@retro) %>?type=Bad">
          <span class="glyphicon glyphicon-plus"></span></a>
        The ugly
      </th>
  </thead>

  <tbody>
    <% for index in 0..@max_issues-1 %>
      <tr>
        <%= render partial: "issues/issuetemplate", locals: { issue: @good_issues[index], issue_class: 'retro-good' } %>
        <%= render partial: "issues/issuetemplate", locals: { issue: @meh_issues[index], issue_class: 'retro-meh' } %>
        <%= render partial: "issues/issuetemplate", locals: { issue: @bad_issues[index], issue_class: 'retro-bad' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Issue', new_retro_issue_path(@retro) %> |
<%= link_to 'All Retros', project_retros_path(@project) %>
