<h1>New issue</h1>

<form class="form-horizontal" action="<%= retro_issues_path %>" method="post">
  <fieldset>

    <!-- Form Name -->
    <legend>New item</legend>

    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />
    <input name="issue[retro_id]" value="<%= @retro.id %>" type="hidden" />

    <!-- Select Multiple -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="issue_type">Type</label>
      <div class="col-md-4">
        <select id="issue_type" name="issue[issue_type]" class="form-control">
          <% for type in ["Good","Meh","Bad"] %>
            <option
              <% if @issue_type == type %>
                selected="selectetd"
              <% end %>
            value="<%= type %>"><%= type %></option>
          <% end %>
        </select>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="user">User</label>
      <div class="col-md-4">
        <input id="user" name="issue[member]" type="text" placeholder="User" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="textinput">Description</label>
      <div class="col-md-4">
        <input id="description" name="issue[description]" type="text" placeholder="Description" class="form-control input-md" required="">
      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="singlebutton"></label>
      <div class="col-md-4">
        <button id="submit" name="submit" class="btn btn-primary">Add item</button>
      </div>
    </div>

  </fieldset>
</form>
<%= link_to 'Back', retro_issues_path %>
