<p>
  <strong>Retrospective:</strong>
  <%= @issue.retro_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @issue.issue_type %>
</p>

<p>
  <strong>Member:</strong>
  <%= @issue.member %>
</p>

<p>
  <strong>Description:</strong>
  <%= @issue.description %>
</p>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back to the retro', retro_issues_path(@retro) %>
