<% provide(:title, @user.name) %>
<center><%= gravatar_for @user %>
<h4>
  <%= @user.name %><br>
  <%= @user.email %>
</h4></center>

<%= render partial: "outstandings/tasks", locals: { tasks: @user.outstandings.all,
                                                    title: "Your Tasks", user_page: true }%>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back to user list', users_path %>