<form class="form-horizontal" action="<%= action %>" method="POST">
  <fieldset>

    <!-- Form Name -->
    <legend><%= title %></legend>
    <% if action_method == "PATCH" %>
        <input name="_method" type="hidden" value="patch" />
    <% end %>

    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden" />

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="project_name">Project Name</label>
      <div class="col-md-4">
        <input id="project_name" name="project[name]" type="text" placeholder="Your team name here" class="form-control input-md" required="" value="<%= @project.name %>">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="description">Description</label>
      <div class="col-md-4">
        <input id="description" name="project[description]" type="text" placeholder="Optional" class="form-control input-md" value="<%= @project.description %>">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="owner">Owner</label>
      <div class="col-md-4">
        <input id="owner" name="project[owner_id]" type="number" placeholder="Owner's user id, you by default" class="form-control input-md" value="<%= @project.owner_id %>">

      </div>
    </div>

    <!-- Button -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="submit"></label>
      <div class="col-md-4">
        <button id="submit" name="submit" class="btn btn-primary"><%= button_title %></button>
      </div>
    </div>

  </fieldset>
</form>

