<div class="container table">
  <% @projects.each do |project| %>
    <div class="col-md-3 project-card">
      <a href="<%= project_retros_path(project) %>"
      [<%= project.id %>] <%= project.name %><br>
      <%= project.description %><br>
      Owned by <%= project.owner_id %><br>
      </a>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Project', new_project_path %>
